{% extends 'base.html.twig' %}

{% block title %}Portfolio - Loïc dauchy{% endblock %}

{% block body %}
    <div id="header" class="container-fluid">
        <div class="row">
            <div class="col-12 h1B">
                <h1>Bienvenue sur mon Portfolio</h1>
            </div>
        </div>
    </div>
    

{% endblock %}
